
.travel {
    background-color: rgb(255, 165, 0);
    width: 500px;
    padding: 20px;
    color: white;
}

h1 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 0;
}

ul {
    list-style-position: inside;
    list-style: none;
    padding: 0;
}

ul ul li{
    font-size: 18px;
    font-style: italic;
    background-color: rgb(153, 180, 102);
    margin-bottom: 10px;
    padding-left: 40px;
}


ul > li {
    background-color: rgb(103, 158, 128);
    padding-right: 20px;
    padding-left: 50px;
    background-image: url('img/rule.png');
    background-position: 10px 0;
    background-repeat: no-repeat;
    background-size: 40px 40px;

}


.icon-route {
    background-image: url('img/ad_units.png');
    background-position: 5px 5px;
    background-size: 35px 35px;
}
.icon-airplane_ticket {
    background-image: url('img/airplane_ticket.png');
    background-position: 5px 5px;
    background-size: 35px 35px;
}
.icon-hotel {
    background-image: url('img/hotel.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    background-size: 35px 35px;
}
.icon-car_rental {
    background-image: url('img/car_rental.png');
    background-position: 5px 5px;
    background-repeat: no-repeat;
    background-size: 35px 35px;
}
.icon-bar {
    background-image: url('img/local_bar.png');
    background-position: 5px 5px;
    background-size: 35px 35px;
}
.icon-casino {
    background-image: url('img/casino.png');
    background-position: 5px 5px;
    background-size: 35px 35px;
}
.icon-museum {
    background-image: url('img/museum.png');
    background-position: 5px 5px;
    background-size: 35px 35px;
}
.icon-festival {
    background-image: url('img/festival.png');
    background-position: 5px 5px;
    background-size: 35px 35px;
}

  
ul ul > li {
    background-position: left 5px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 30px;
    
}

ul > li > span {
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(199, 124, 106);
    margin-bottom: 10px;
    margin-left: 40px;
}

span {
    display: inline-block;
    padding: 10px 20px;
}

ul ul li span {
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(218, 106, 32);
    padding: 15px;
    margin-bottom: 0;
}
