a {
    color: purple;
}
.main li {
    color: green;


}
.last {
    list-style-type: square;
}

.scnd {
    list-style-image: url(li.svg);
}

.last a {
    text-decoration: none;
    color: purple;

}

ul li ul {
    list-style-type: none;
}

li.door,
li.door ol li {
    color: black;
}
li.top {
    color: green;
    text-decoration: underline;
}